<!DOCTYPE html>
<html>
<head>
  <title>Equipment List</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

  <link rel="stylesheet" href="/css/main.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<% if (!user) { %>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">
          <img alt="Brand" src="https://ga-cms-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0.png" style="width: 175px; border-radius: 2px">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href='/login'>Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <div class="row">
      <img src="https://lh3.googleusercontent.com/-CiJrWa0iNWc/AAAAAAAAAAI/AAAAAAAAACc/H6sa0rreZJc/photo.jpg" class="col-xs-offset-2" style="width: 260px; border-radius: 150px; margin-top: 100px">
      <img src="https://generalassemb.ly/online/assets/ga-lockup-logo-9d95d5d0a1c966540edaedcb440b1963.png" class="col-xs-offset-2" style="width: 300px; border-radius: 150px; margin-top: 100px">
    </div>

  </div>

</body>

<% } else { %>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img alt="Brand" src="https://ga-cms-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0.png" style="width: 175px; border-radius: 2px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href='/'>Home</a></li>
        <li><a href='/logout'>Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">

<div class="row">
  <div class="col-xs-6">
    <h1 class="equipment">Equipment</h1>
  </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
        <th>Item Title</th>
        <th>Serial</th>
        <th>Description</th>
        <th>Availability</th>
        <th colspan="25"></th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<button type="button" class="btn btn-default btn-sm"> <a href="/equipment/new">Add New Item of Equipment!</a></button>

</div>
<% } %>

</body>
</html>



