<!DOCTYPE html>
<html>
<head>
  <title>Equipment List</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% if (!user) { %>
  <p>Welcome!, Please <a href="/login">log in</a></p>

<% } else { %>

<div class="container">

  <h1>Welcome <%= user.username %></h1>
  <!-- Username: <%= user.username %><br/> -->
  <a href="/logout">Logout</a>


  <h1>Equipment</h1>
  <a href="/equipment/new">Add New Equipment here!</a>
  <table class="table table-hover">
      <thead>
          <tr>
          <th>Item Title</th>
          <th>Serial</th>
          <th>Description</th>
          <th>Availability</th>
          <th colspan="3"></th>
          </tr>
      </thead>

      <tbody>
        <tr id="table">
          <td id="itemTitle">Item title</td>
          <td id="serialNumber">Serial</td>
          <td id="description">Description</td>
          <td id="available">Availability</td>
          <td class="btn btn-success btn-xs">Show Item</td>
          <td class="btn btn-warning btn-xs">Edit Item</td>
          <td class="btn btn-danger btn-xs">Edit Item</td>
        </tr>
      </tbody>
  </table>


<div id="printer"></div>

</div>
<% } %>
</body>
</html>



